name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python 3.10
        run: uv python install 3.10

      - name: Install pre-commit
        run: uv tool install pre-commit --with pre-commit

      - name: Run pre-commit hooks
        run: uvx pre-commit run --all-files
